*.class
.classpath
.project
.DS_Store
*.o
utils/imageProcessing
utils/images/*-h.pgm
utils/images/*-v.pgm
utils/images/*-n.pgm
utils/images/*-ns.pgm
utils/images/*-descriptors.txt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.synctex.gz
doc/Rapport.pdf
